body{
    background-color: rgb(255, 255, 255);
    }
    
    
    h1{
    font-family: 'Courier New', Courier, monospace;
    margin:10px;
    }
    .box{
    background-color:rgb(0, 109, 0);
    height:10vh;
    width:100vw;
    margin-top:10px;
    }
    *{
    margin:0;
    }
    .box2{
    background-color:rgb(245, 245, 0);
    height:45vh;
    width:30vw;
    margin-top:100px;
    
    }
    .cores{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    flex-direction: row;
    width:100vw;
    }
    
    .box3{
        background-color:rgb(255, 0, 0);
        height:30vh;
        width:30vw;
        margin-top:200px;
    }
    
    .box4{
        background-color:rgb(0, 243, 243);
        height:60vh;
        width:30vw;
        margin-top:50px;
    }
    .box5{
     background-color:rgb(255, 174, 0);
     height:10vh;
     width:100vw;
     align-self: flex-end;
     margin-top:15px;
    }